<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">
  
	<bean id="ds1Scanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="kr.co.passcombine.set.dao" />
		<property name="sqlSessionFactoryBeanName" value="setSqlSessionFactory" />
	</bean>
	
	<!-- SqlSessionFactory -->
	<bean id="setSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource_set" />
		<property name="configLocation" value="classpath:config/mybatis-config-base.xml" />
		<property name="typeAliasesPackage" value="kr.co.passcombine.set.vo" />
		<property name="mapperLocations">
			<list>
				<value>classpath*:config/mapper/set/*mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- SqlSessionTemplate -->
	<bean id="setSqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="setSqlSessionFactory" />
	</bean>

</beans>