<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.passcombine.set.dao.SYInstrumentDAO">
	
	

	<select id="selectInstrument" parameterType="SYInstrumentVo" resultType="SYInstrumentVo">
		SELECT
			correct_num, instrument_nm, maker, 
			instrument_num, device_num,
			standard,
			use_team, manager_nm, register_date, 
			correct_yn, correct_date, correct_cycle, correct_next_date,
			correct_institutions, 
			file_cate, file_path, file_name, file_ext, file_size,
			creator, updater, date_created, date_updated
			
			
		FROM 
			instrument_tbl
		
		WHERE 1 = 1
			AND del_yn = 'N'

			<if test="correct_yn != null and '' != correct_yn">
				AND correct_yn = #{correct_yn}
			</if>	
		    <if test="correct_num != null and '' != correct_num">
				AND correct_num = #{correct_num}
			</if>	
			<if test="instrument_nm != null and '' != instrument_nm">
				AND instrument_nm = #{instrument_nm}
			</if>	
			<if test="maker != null and '' != maker">
				AND maker = #{maker}
			</if>	
			<if test="correct_date != null and '' != correct_date">
				AND date_format(correct_date, '%Y%m%d') BETWEEN left(#{correct_date}, 8) AND right(#{correct_date}, 8)
			</if>	
			<if test="correct_next_date != null and '' != correct_next_date">
				AND date_format(correct_next_date, '%Y%m%d') BETWEEN left(#{correct_next_date}, 8) AND right(#{correct_next_date}, 8)
			</if>			
	
		ORDER BY date_created DESC
		
	</select>
			
	<insert id="saveInstrument" parameterType="SYInstrumentVo">
 		INSERT INTO instrument_tbl (
 			correct_num, instrument_nm, maker, 
			instrument_num, device_num,
			standard,
			use_team, manager_nm, register_date, 
			correct_yn, correct_date, correct_cycle, correct_next_date,
			correct_institutions, 
			<if test="file_name != null and '' != file_name">
				file_cate, file_path, file_name, file_ext, file_size,
			</if>
			
			del_yn,
			creator, updater, date_created, date_updated)
		SELECT *
		  FROM (
		  		SELECT  
		  
				#{correct_num} as correct_num, #{instrument_nm} as instrument_nm, #{maker} as maker, 
				#{instrument_num} as instrument_num, #{device_num} as device_num,
		  		#{standard} as standard, 
		  		#{use_team} as use_team, #{manager_nm} as manager_nm, #{register_date} as register_date, 
		  		#{correct_yn} as correct_yn, #{correct_date} as correct_date,
		  		#{correct_cycle} as correct_cycle, #{correct_next_date} as correct_next_date,
		  		#{correct_institutions} as correct_institutions,
		  		<if test="file_name != null and '' != file_name">
				#{file_cate} as file_cate, #{file_path} as file_path,
		  		#{file_name} as file_name, #{file_ext} as file_ext, #{file_size} as file_size,
				</if>
		  		
		  		'N' as del_yn,
				#{creator} as creator, #{updater} as updater, current_timestamp() as date_created, current_timestamp() as date_updated
		  ) s
		  ON DUPLICATE KEY
		UPDATE
			correct_num = s.correct_num,
			instrument_nm = s.instrument_nm,
			maker = s.maker,
								
			instrument_num = s.instrument_num,
			device_num = s.device_num,
			
			standard = s.standard,
			
			use_team = s.use_team,
			manager_nm = s.manager_nm,
			register_date = s.register_date,
			
			correct_yn = s.correct_yn,
			correct_date = s.correct_date,
			correct_cycle = s.correct_cycle,
			correct_next_date = s.correct_next_date,
				
			correct_institutions = s.correct_institutions,
			<if test="file_name != null and '' != file_name">
			file_cate = s.file_cate,
			file_path = s.file_path,
			file_name = s.file_name,
			file_ext = s.file_ext,
			file_size= s.file_size,
			</if>

			
			del_yn = s.del_yn,
			
			updater = s.updater,
			date_updated = s.date_updated
	</insert>
	
	
	<update id="deleteInstrument" parameterType="SYInstrumentVo">
		UPDATE instrument_tbl SET del_yn='Y'
		 WHERE correct_num = #{correct_num}
		
	 	<if test="instrument_nm != null and '' != instrument_nm">
			AND instrument_nm = #{instrument_nm}
		</if>	
	 	<if test="maker != null and '' != maker">
			AND maker = #{maker}
		</if>	
	
	</update>
	
	<select id="selectInstrumentHis" parameterType="SYInstrumentVo" resultType="SYInstrumentVo">
		SELECT
			idx, 
			correct_num, instrument_nm, maker, 
			instrument_num, device_num,
			standard,
			use_team, manager_nm, register_date, 
			correct_yn, correct_date, correct_cycle, correct_next_date,
			correct_institutions, 
			file_cate, file_path, file_name, file_ext, file_size,
			creator, updater, date_created, date_updated
			
			
		FROM 
			instrument_his_tbl
		
		WHERE 1 = 1
			AND del_yn = 'N'
			<if test="correct_yn != null and '' != correct_yn">
				AND correct_yn = #{correct_yn}
			</if>
		    <if test="correct_num != null and '' != correct_num">
				AND correct_num = #{correct_num}
			</if>	
			<if test="instrument_nm != null and '' != instrument_nm">
				AND instrument_nm = #{instrument_nm}
			</if>	
			<if test="maker != null and '' != maker">
				AND maker = #{maker}
			</if>	
			<if test="correct_date != null and '' != correct_date">
				AND date_format(correct_date, '%Y%m%d') BETWEEN left(#{correct_date}, 8) AND right(#{correct_date}, 8)
			</if>	
			<if test="correct_next_date != null and '' != correct_next_date">
				AND date_format(correct_next_date, '%Y%m%d') BETWEEN left(#{correct_next_date}, 8) AND right(#{correct_next_date}, 8)
			</if>	
	
		ORDER BY idx DESC
			
	</select>
			
	
	<insert id="insInstrumentHis" parameterType="SYInstrumentVo">
		INSERT INTO instrument_his_tbl (
 			correct_num, instrument_nm, maker, 
			instrument_num, device_num,
			standard,
			use_team, manager_nm, register_date, 
			correct_yn, correct_date, correct_cycle, correct_next_date,
			correct_institutions, 
			file_cate, file_path, file_name, file_ext, file_size,
			del_yn,
			creator, updater, date_created, date_updated)
		SELECT *
		  FROM (
		  		SELECT  
		  
				#{correct_num} as correct_num, #{instrument_nm} as instrument_nm, #{maker} as maker, 
				#{instrument_num} as instrument_num, #{device_num} as device_num,
		  		#{standard} as standard, 
		  		#{use_team} as use_team, #{manager_nm} as manager_nm, #{register_date} as register_date, 
		  		#{correct_yn} as correct_yn, #{correct_date} as correct_date,
		  		#{correct_cycle} as correct_cycle, #{correct_next_date} as correct_next_date,
		  		#{correct_institutions} as correct_institutions,
		  		#{file_cate} as file_cate, #{file_path} as file_path,
		  		#{file_name} as file_name, #{file_ext} as file_ext, #{file_size} as file_size,
		  		'N' as del_yn,
				#{creator} as creator, #{updater} as updater, current_timestamp() as date_created, current_timestamp() as date_updated
		  ) s
		  ON DUPLICATE KEY
		UPDATE
			correct_num = s.correct_num,
			instrument_nm = s.instrument_nm,
			maker = s.maker,
			
			instrument_num = s.instrument_num,
			device_num = s.device_num,
			
			standard = s.standard,
			
			use_team = s.use_team,
			manager_nm = s.manager_nm,
			register_date = s.register_date,

			correct_yn = s.correct_yn,
			correct_date = s.correct_date,
			correct_cycle = s.correct_cycle,
			correct_next_date = s.correct_next_date,
				
			correct_institutions = s.correct_institutions,
			
			file_cate = s.file_cate,
			file_path = s.file_path,
			file_name = s.file_name,
			file_ext = s.file_ext,
			file_size= s.file_size,
			
			del_yn = s.del_yn,
			
			updater = s.updater,
			date_updated = s.date_updated
	</insert>
	
</mapper>