<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.passcombine.set.dao.SYMaterialsDAO">
	<resultMap id="SYTMaterialVo" type="SYTMaterialVo">
		<result property="WHS_HIS_GB" column="WHS_HIS_GB" jdbcType="VARCHAR" javaType="java.lang.String" />
	</resultMap>
		<!-- ceo정보등을 가져오는쿼리 -->
		<select id="base_info" parameterType="java.util.HashMap" resultType="java.util.HashMap">
			/*   base_info   */ 
			SELECT    TVM.VDR_NM
					, TMOM.MTL_ORD_REG_ID
					, TVM.VDR_TEL
					, TVM.VDR_FAX
					, TVM.VDR_ML1
					, TVM.VDR_ML2
					, TVM.VDR_ML3
					, TCM.CST_NM
					, TCM.CST_NO
					, TCM.CST_CEO_NM
					, TCM.CST_ADD
					, TCM.CST_TEL
					, TCM.CST_FAX
					, TPM.PJT_NM 
					, TMOM.ORD_IDX
					, TMOM.MTL_ORD_PLC
					, SYSDATE() AS DATE
			FROM 		T_MTL_ORD_MST TMOM
			LEFT JOIN	T_MTL_ORD_DTL 	TMOD 	ON TMOD.ORD_IDX  		= TMOM.ORD_IDX
			LEFT JOIN	T_WHS_HIS 		TWH		ON TWH.MTL_ORD_DTL_IDX 	= TMOD.MTL_ORD_DTL_IDX 
			LEFT JOIN 	T_MTL_MST 		TMM 	ON TMM.MTL_IDX  		= TMOD.MTL_IDX
			LEFT JOIN 	T_VDR_MST 		TVM		ON TVM.VDR_IDX 			= TMOM.VDR_IDX
			LEFT JOIN	T_PJT_MST 		TPM		ON TPM.PJT_IDX 			= TMOM.PJT_IDX 
			LEFT JOIN 	T_CST_MST 		TCM		ON TCM.CST_IDX 			= TPM.CST_IDX 
			WHERE 		TMOM.ORD_IDX	=	#{ORD_IDX}
			ORDER  BY   TMOM.ORD_IDX 		LIMIT 	1
		</select>
		<!-- 품목등을 가져오는 쿼리 -->
		<select id="info_List_project" parameterType="java.util.HashMap" resultType="java.util.HashMap">
			/*   info_List_project   */ 
			SELECT 	TMM.MTL_IDX
					,TMM.MTL_NM
					,TMM.MTL_STD
					,TMOD.ORD_DTL_QTY
					,TWH.MTL_ORD_DTL_IDX
					,TMM.MTL_UNT
					,TMM.MTL_BG
					,TMOM.MTL_ORD_DLV_DT
					,IF(TMM.MTL_PRICE='' OR TMM.MTL_PRICE=null,0,TMM.MTL_PRICE)
					AS MTL_PRICE
			FROM 		T_MTL_ORD_MST 	TMOM
			LEFT JOIN	T_MTL_ORD_DTL 	TMOD 	ON TMOD.ORD_IDX  = TMOM.ORD_IDX
			LEFT JOIN	T_WHS_HIS 		TWH		ON TWH.MTL_ORD_DTL_IDX = TMOD.MTL_ORD_DTL_IDX 
			LEFT JOIN 	T_MTL_MST 		TMM 	ON TMM.MTL_IDX  = TMOD.MTL_IDX
			WHERE 		TMOM.ORD_IDX =	#{ORD_IDX}
		</select>
		
		

		<insert id="insertFile2" parameterType="java.util.HashMap" >
		/* insertFile2 */
			INSERT INTO T_CMM_FLE
				(CMM_FLE_ATT_EXT,CMM_FLE_ORG_NM,CMM_FLE_SYS_NM,CMM_FLE_ATT_SIZE,CMM_FLE_ATT_PATH
				,CMM_FLE_USE_YN,CMM_FLE_REG_DT,CMM_FLE_REG_ID,CMM_FLE_DEL_YN)
			VALUES(
				#{CMM_FLE_ATT_EXT},#{CMM_FLE_ORG_NM},#{CMM_FLE_SYS_NM},#{CMM_FLE_ATT_SIZE},#{CMM_FLE_ATT_PATH},
				#{CMM_FLE_USE_YN},SYSDATE(),#{CMM_FLE_REG_ID},#{CMM_FLE_DEL_YN}
				)
			<selectKey resultType="int" keyProperty="CMM_FLE_IDX" order="AFTER">
			        SELECT LAST_INSERT_ID()
	    	</selectKey>  
	</insert>

		<insert id="insertMaterialMap2" parameterType="java.util.HashMap">
			/* insertMaterialMap2 */ 
			INSERT INTO T_MTL_MST
				( CMM_FLE_IDX, MTL_CATE, MTL_NM, MTL_MKR_CD, MTL_MKR_NO, MTL_STD, MTL_PRICE, MTL_UNT, MTL_DS_URL, MTL_BG, MTL_REG_ID )
			VALUES
				(
					IFNULL(#{CMM_FLE_IDX},null), #{MTL_CATE}, #{MTL_NM}, #{MTL_MKR_CD}, #{MTL_MKR_NO}, #{MTL_STD}, #{MTL_PRICE}, #{MTL_UNT}, #{MTL_DS_URL}, #{MTL_BG}, #{MTL_REG_ID}
				)
			<selectKey resultType="int" keyProperty="MTL_IDX" order="AFTER">
			        SELECT LAST_INSERT_ID()
	    	</selectKey> 
	</insert>
	
	<insert id="insertBOM2" parameterType="java.util.HashMap">
	/* insertBOM2 */
		INSERT INTO T_BOM_MST
		(
			MTL_IDX,
			PJT_IDX,
			BOM_MTL_QTY,
			BOM_DEL_YN,
			BOM_REG_DT,
			BOM_REG_ID
		) VALUES
		(
			#{MTL_IDX},
			#{PJT_IDX},
			'0',
			'Y',
			SYSDATE(),
			#{REG_ID}
		)
	</insert>
	
	<update id="updateEstimate2" parameterType="java.util.List">
		<foreach collection="list" item="item"  separator=" ; ">
				UPDATE 	T_EST_MST SET
						MTL_REQ_QTY 	= 	IFNULL(#{item.MTL_REQ_QTY}, 0),
						MTL_EST_REG_DT 	=  	IFNULL(#{item.MTL_EST_REG_DT}, SYSDATE())
				WHERE 	EST_IDX 		= 	#{item.EST_IDX}
				
<!-- 				UPDATE 	T_MTL_REQ_MST SET -->
<!-- 						MTL_REQ_QTY 	= 	IFNULL(#{item.MTL_REQ_QTY}, 0), -->
<!-- 						MTL_EST_REG_DT 	=  	IFNULL(#{item.MTL_EST_REG_DT}, SYSDATE()) -->
<!-- 				WHERE 	EST_IDX 		= 	#{item.EST_IDX} -->
		</foreach>
		
	</update>

<!-- 아래코드 공통  -->
	<sql id="selectMaterialWhere">
        <if test="MTL_MKR_CD!=null and !''.equals(MTL_MKR_CD) ">
				AND MTL_MKR_CD LIKE CONCAT('%', #{MTL_MKR_CD}, '%')
			</if>
			<if test="MTL_CATE!=null and !''.equals(MTL_CATE) ">
				AND MTL_CATE LIKE CONCAT('%', #{MTL_CATE}, '%')
			</if>
			<if test="MTL_NM!=null and !''.equals(MTL_NM) ">
				AND MTL_NM LIKE CONCAT('%', #{MTL_NM}, '%')
			</if>
			<if test="MTL_MKR_NO!=null and !''.equals(MTL_MKR_NO) ">
				AND MTL_MKR_NO LIKE CONCAT('%', #{MTL_MKR_NO}, '%')
			</if>
	</sql>


	<select id="selectMaterialIO"  parameterType="java.util.HashMap" resultMap="SYTMaterialVo">
		   /* selectMaterialIO */ 
		   SELECT 	WHS_HIS_IDX, TMM.MTL_IDX, CMM_FLE_IDX, MTL_CATE, MTL_NM, MTL_MKR_CD, MTL_MKR_NO, MTL_STD, MTL_PRICE, 
					MTL_UNT, MTL_QTY, MTL_DS_URL, MTL_BG, MTL_REG_DT, MTL_REG_ID, TWH.WHS_HIS_GB, TWH.ORD_IDX, WHS_HIS_QTY
			 FROM 	T_WHS_HIS TWH
		LEFT JOIN 	T_MTL_MST TMM ON TWH.MTL_IDX = TMM.MTL_IDX 
		LEFT JOIN 	T_MTL_ORD_DTL TMOD ON TWH.MTL_ORD_DTL_IDX =TMOD.MTL_ORD_DTL_IDX 
			WHERE	MTL_DEL_YN = 'N'
			 <include refid="selectMaterialWhere"/>
			  AND	WHS_HIS_GB=#{WHS_HIS_GB};
	</select>
	
	<select id="selectMaterialNotIO" parameterType="java.util.HashMap" resultMap="SYTMaterialVo">
	 /* selectMaterialNotIO */ 
	  SELECT	WHS_HIS_IDX, TMM.MTL_IDX, CMM_FLE_IDX, MTL_CATE, MTL_NM, MTL_MKR_CD, MTL_MKR_NO, MTL_STD,
				MTL_PRICE, MTL_UNT, MTL_QTY, MTL_DS_URL, MTL_BG, MTL_REG_DT, MTL_REG_ID,
				TWH.WHS_HIS_GB, ORD_IDX, WHS_HIS_QTY
		FROM 	T_MTL_MST TMM
   LEFT JOIN 	T_WHS_HIS TWH ON TMM.MTL_IDX = TWH.MTL_IDX 
		WHERE 	MTL_DEL_YN = 'N'
		 <include refid="selectMaterialWhere"/>					
	</select>	
	
	<update id="updateEstimateOs1" parameterType="java.util.HashMap">
		/* updateEstimateOs1 */
		UPDATE T_MTL_MST SET
		MTL_IDX = #{MTL_IDX}
		<if test="MTL_BG!='' and MTL_BG!= null and BTL_BG!='null'">
			,MTL_BG = #{MTL_BG}
		</if>
		WHERE MTL_IDX = #{MTL_IDX}
	</update>
	
	
	<update id="updateEstimateOs2" parameterType="java.util.HashMap">
		/* updateEstimateOs2 */
			UPDATE T_WHS_HIS SET
			<if test="WHS_HIS_GB!='' and WHS_HIS_GB!='null'">
			WHS_HIS_GB = #{WHS_HIS_GB}
			</if>
			,WHS_HIS_QTY =#{WHS_HIS_QTY}
			WHERE WHS_HIS_IDX = #{WHS_HIS_IDX}

	</update>
	
	<insert id="insertEstimateOs1" parameterType="java.util.HashMap">
		/* insertEstimateOs1 */
		INSERT INTO T_WHS_HIS
			(
				MTL_IDX,
				WHS_HIS_GB,
				WHS_HIS_REG_DT,
				WHS_HIS_REG_ID,
				WHS_DEL_YN,
				WHS_HIS_QTY
			)
			VALUES(
				#{MTL_IDX},
				IF(#{WHS_HIS_GB}='null','IN',#{WHS_HIS_GB}),
				SYSDATE(),
				#{REG_ID},
				'N',
				#{WHS_HIS_QTY}
			)
	</insert>

</mapper>
