<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.passcombine.set.dao.SYWarehouseDAO">

	<!-- master -->
	<select id="selectWarehouse_master_header" parameterType="SYWarehouse_MasterHVo" resultType="SYWarehouse_MasterHVo">
		SELECT 
			business_code, business_nm, warehouse_code, warehouse_nm, del_yn, 
			creator, updater, date_created, date_updated
		FROM warehouse_master_header
		
		WHERE del_yn = 'N'
		<!-- <if test="business_code!=null and !''.equals(business_code) ">
			AND business_code = #{business_code}
		</if> -->
		<if test=" business_codeT == ''.toString() ">
			AND business_code = #{business_code}
		</if>
		<if test="business_codeT!=null and !''.equals(business_codeT) ">
			AND business_code = #{business_code} OR business_code = #{business_codeT} 
		</if>
		ORDER BY warehouse_code ASC
	</select>

	<insert id="insertWarehouse_master_header" parameterType="SYWarehouse_MasterHVo">
			INSERT INTO warehouse_master_header
			( 	business_code, business_nm, 
				warehouse_code, warehouse_nm, 
				del_yn, 
				creator, updater, date_created, date_updated ) 
			VALUES
			(
			 	#{business_code}, #{business_nm}, 
			 	fn_warehouse_master(), #{warehouse_nm}, 
			 	'N', 
			 	#{creator}, #{updater}, CURRENT_TIMESTAMP(), CURRENT_TIMESTAMP()
			)
	</insert>
	
	<update id="updateWarehouse_master_header" parameterType="SYWarehouse_MasterHVo">
		UPDATE warehouse_master_header SET
		<!-- <if test="business_code!=null and !''.equals(business_code) ">
		  business_code = #{business_code}, 
		</if>
		<if test="business_nm!=null and !''.equals(business_nm) ">
		  business_nm = #{business_nm}, 
		</if> -->
		<if test="warehouse_nm!=null and !''.equals(warehouse_nm) ">
		  warehouse_nm = #{warehouse_nm}, 
		</if>
		  updater = #{updater}, 
		  date_updated = current_timestamp()
		WHERE business_code = #{business_code}
		 AND warehouse_code = #{warehouse_code}
	</update>
	
	<update id="deleteWarehouse_master_header" parameterType="SYWarehouse_MasterHVo">
		UPDATE warehouse_master_header SET del_yn='Y'
		 WHERE business_code = #{business_code}
		 AND warehouse_code = #{warehouse_code}
	</update>
	
	
	<!-- detail -->
	<select id="selectWarehouse_master_detail" parameterType="SYWarehouse_MasterDVo" resultType="SYWarehouse_MasterDVo">
		SELECT 
			warehouse_code, warehouse_nm, 
			item_type_code, item_type_nm, 
			del_yn, 
			creator, updater, date_created, date_updated
		FROM warehouse_master_detail
		WHERE del_yn = 'N'
		<if test="warehouse_code!=null and !''.equals(warehouse_code) ">
			AND warehouse_code = #{warehouse_code}
		</if>
		ORDER BY item_type_code ASC
	</select>
	
	<insert id="insertWarehouse_master_detail" parameterType="SYWarehouse_MasterDVo">
			INSERT INTO warehouse_master_detail
			( 	warehouse_code, warehouse_nm, 
				item_type_code, item_type_nm, 
				del_yn, 
				creator, updater, date_created, date_updated ) 
			VALUES
			(
			 	#{warehouse_code}, #{warehouse_nm}, 
			 	#{item_type_code}, #{item_type_nm}, 
			 	'N', 
			 	#{creator}, #{updater}, CURRENT_TIMESTAMP(), CURRENT_TIMESTAMP()
			)
	</insert>
	
	<delete id="allDeleteWarehouse_master_detail" parameterType="SYWarehouse_MasterDVo">
		DELETE FROM warehouse_master_detail
			WHERE
		warehouse_code = #{warehouse_code}
	</delete>
	
	<select id="inCheckWarehouse_master_detail" parameterType="String" resultType="String">
		SELECT 
			warehouse_code
		FROM warehouse_master_detail
		WHERE del_yn = 'N'
		AND item_type_code = #{item_type_code}
	</select>
	
	<delete id="deleteWarehouse_master_detail" parameterType="SYWarehouse_MasterDVo">
		DELETE FROM warehouse_master_detail
			WHERE
		warehouse_code = #{warehouse_code}
		AND item_type_code = #{item_type_code}
		<!-- 나중에 여기에list값이 있다면 그걸로 한번에 삭제 처리? -->
	</delete>
	
	
	<!-- selectWarehouse -->
	<select id="selectWarehouse" parameterType="SYWarehouseVo" resultType="SYWarehouseVo">
		SELECT 
			w.business_code, w.business_nm, 
			w.warehouse_code, w.warehouse_nm, 
			w.item_code, w.item_nm, w.item_spec, 
			w.item_type_code, w.item_type_nm, 
			w.meins, 
			IFNULL(w.warehousing_price,0) as warehousing_price , 
			IFNULL(m.safety_menge,0) as safety_stock_qty,
			IFNULL(w.warehousing_qty,0) as warehousing_qty, 
			m.safety_stock_yn as safety_stock_yn, 
			w.del_yn, 
			w.creator, w.updater, w.date_created, w.date_updated
			FROM warehouse_tbl AS w
			LEFT JOIN material_tbl AS m
			ON w.item_code = m.item_code
			WHERE w.del_yn = 'N'
		<!-- <if test="business_code!=null and !''.equals(business_code) ">
			AND business_code = #{business_code}
		</if> -->
		<if test=" business_codeT == ''.toString() ">
			AND w.business_code = #{business_code}
		</if>
		<if test="business_codeT!=null and !''.equals(business_codeT) ">
			AND (w.business_code = #{business_code} OR w.business_code = #{business_codeT}) 
		</if>
		<if test="warehouse_code!=null and !''.equals(warehouse_code) ">
			AND w.warehouse_code = #{warehouse_code}
		</if>
		<if test="item_code!=null and !''.equals(item_code) ">
			AND w.item_code = #{item_code}
		</if>
		<if test="item_nm!=null and !''.equals(item_nm) ">
			AND w.item_nm LIKE CONCAT('%', #{item_nm}, '%')
		</if>
		<if test="item_type_code != null and '' != item_type_code">
 			AND w.item_type_code = #{item_type_code}
 		</if>
 		
 		<if test="safety_stock_yn != null and '' != safety_stock_yn">
 			AND m.safety_stock_yn = #{safety_stock_yn}
 		</if>
		ORDER BY safety_stock_yn DESC , warehousing_qty*1 , (safety_stock_qty*1 - warehousing_qty*1)  DESC
		
	
	</select>
	
	
	
	<!-- selectWarehouse -->
	<select id="selectWarehouse2" parameterType="SYWarehouseVo" resultType="SYWarehouseVo">
		SELECT 
			business_code, business_nm, 
			warehouse_code, warehouse_nm, 
			item_code, item_nm, item_spec, 
			item_type_code, item_type_nm, 
			meins, 
			ifnull(warehousing_price,0) as warehousing_price , 
			 ifnull((
				SELECT ifnull(safety_menge,0)
				FROM material_tbl
				WHERE del_yn = 'N'
				AND item_code = w.item_code

			),0) as safety_stock_qty, 
			ifnull(warehousing_qty,0) as warehousing_qty, 
			del_yn, 
			creator, updater, date_created, date_updated
		FROM warehouse_tbl as w
		WHERE del_yn = 'N'
		<!-- <if test="business_code!=null and !''.equals(business_code) ">
			AND business_code = #{business_code}
		</if> -->
		<if test=" business_codeT == ''.toString() ">
			AND business_code = #{business_code}
		</if>
		<if test="business_codeT!=null and !''.equals(business_codeT) ">
			AND (business_code = #{business_code} OR business_code = #{business_codeT}) 
		</if>
		<if test="warehouse_code!=null and !''.equals(warehouse_code) ">
			AND warehouse_code = #{warehouse_code}
		</if>
		<if test="item_code!=null and !''.equals(item_code) ">
			AND item_code = #{item_code}
		</if>
		<if test="item_nm!=null and !''.equals(item_nm) ">
			AND item_nm LIKE CONCAT('%', #{item_nm}, '%')
		</if>
			AND item_type_code != 'MD1245'
		<if test="item_type_code != null and '' != item_type_code">
 			AND item_type_code = #{item_type_code}
 		</if>
		ORDER BY item_type_nm, item_code ASC
		
	
	</select>
	
	
	
	<!-- selectWarehouse -->
	<select id="selectMaterialBan" parameterType="SYWarehouseVo" resultType="SYWarehouseVo">
		SELECT 
			m.business_code, m.business_nm, 
			w.warehouse_code, w.warehouse_nm, 
			m.item_code, m.item_nm, m.item_spec, 
			m.item_type_code, m.item_type_nm, 
			m.meins,
			IFNULL(m.warehousing_price,0) AS warehousing_price ,
			IFNULL(m.safety_menge,0) as safety_stock_qty, 
			IFNULL(w.warehousing_qty,0) AS warehousing_qty
		
		
		FROM material_tbl AS m
		LEFT JOIN warehouse_tbl as w
		ON m.item_code = w.item_code
		
		WHERE m.del_yn = 'N'
		<!-- <if test="business_code!=null and !''.equals(business_code) ">
			AND business_code = #{business_code}
		</if> -->
		<if test=" business_codeT == ''.toString() ">
			AND m.business_code = #{business_code}
		</if>
		<if test="business_codeT!=null and !''.equals(business_codeT) ">
			AND (m.business_code = #{business_code} OR m.business_code = #{business_codeT}) 
		</if>
		<if test="warehouse_code!=null and !''.equals(warehouse_code) ">
			AND w.warehouse_code = #{warehouse_code}
		</if>
		<if test="item_code!=null and !''.equals(item_code) ">
			AND m.item_code = #{item_code}
		</if>
		<if test="item_nm!=null and !''.equals(item_nm) ">
			AND m.item_nm LIKE CONCAT('%', #{item_nm}, '%')
		</if>
		
		
		<if test="item_type_code != null and '' != item_type_code">
 			AND m.item_type_code = #{item_type_code}
 		</if>
 		
 		AND w.warehousing_qty > 0
		ORDER BY w.date_created ASC
		
	
	</select>
	
	
	
</mapper>