

#playground-container {
    height: 500px;
    overflow: hidden !important;
    
}
.main{margin-top:13%;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
padding:0px;
margin-left:95;
}
.fb:focus, .fb:hover{color:FFF !important;}

@font-face{font-family:'PoppinsMedidum'; src:url('/res/admin_lte/css/font/Poppins-Medium.ttf') format('truetype');}
@font-face{font-family:'PoppinsExtraLight'; src:url('/res/admin_lte/css/font/Poppins-ExtraLight.ttf') format('truetype');}


body{
background-color: #001c41; 
font-family: 'PoppinsMedidum';
}


.left-side{
	padding:0px 0px 100px;
	background: url('/res/images/common/set_left.jpg')repeat -50px 0px;
	background-size:cover;
	height:600px;
}
.left-side h1{
	font-size: 70px;
    font-weight: 900;
	color:#FFF;
	padding: 50px 10px 00px 26px;
	}
	
	
	.left-side p{
    font-weight:600;
	color:#FFF;
	padding:10px 10px 10px 26px;
	}

	
	.fb{background: #2d6bb7;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;
	margin-left:26px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}
	.tw{background: #20c1ed;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);}
	
	.right-side{
	padding:30px 0px 100px;
	background:#FFF;
	background-size:cover;
	height:600px;
}

.right-side img{
	position: relative;
    left: 190px;
    height: 35px;
    width: 90px;
    
}
	.right-side h6{
	font-size: 25px;
    font-weight: 700;
	color:#000;
	padding: 23px 10px 5px 55px;
	}
	.right-side p{
    font-weight:600;
	color:#000;
	padding:10px 60px 10px 60px;
	}
	.form{padding:10px 60px 10px 60px;}
    .form-control-login{box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #2d2d2d !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;}
	.btn-deep-purple {
    background: #84d14e;
    border-radius: 18px;
    padding: 5px 19px;
    color: #FFF;
    font-weight: 600;
    float: right;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
}

.form-control-login {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.42857143;
  color: #005ecf;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form input[type="submit"] {
    color: #fff;
    background: #005dcf;
    border: 1px solid #005dcf;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;  
}
.form input[type="submit"]:hover {
    background: transparent;
    color: #005dcf;  
    font-weight: bold;
	transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
} 
.form input[type="submit"] {
    font-size: 1.3em; 
} 

.anim {
	position: relative;
	padding: 10px 0px 10px 0px;
	letter-spacing: 1px;
}

.contact_item {
	font-weight: 600;
	font-size: 0.8em; 
}
.contact {
	padding: 120px 60px 0px 60px;
}

body p {
	text-align: center;
	position: relative;
	top: 30px;
	color: #fff;
	
}
/*-- checkbox --*/
/*
.anim {
    font-size: 0.9em;
    color: #2d2d2d;
    cursor: pointer;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
}
input.chkbox {
    background:#703925;
    cursor: pointer;
	vertical-align: middle;
}
input.chkbox:before {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	background: inherit; 
}
input.chkbox:after {
	content: ""; 
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1em;
	height: 1em;
	border: 1px solid #2d2d2d; 
	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	-o-transition: .4s all;
	-ms-transition: .4s all;
	transition: .4s all;
}
input.chkbox:checked:after {
	transform: rotate(-45deg);
	height: .5rem;
	border-color: #2d2d2d;
	border-top-color: transparent;
	border-right-color: transparent;
}
 
@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
}   */
/*-- //checkbox --*/ 
